.item {
  display: flex;
  width: 100%;
  height: 279px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.movie_title {
  font-size: 20px !important;
}

.movie_date {
  color: #827e7e;
  margin-top: 7px;
  margin-bottom: 0;
}

.movie_img {
  display: block;
  flex: 0 0 180px;
  height: 100%;
  background-color: black;
  color: #fff;
}

.movie_info {
  flex: 1;
  padding: 10px 20px;
}

.movie_text {
  margin-top: 7px !important;
  overflow: hidden;
}

.rate_wrapper {
  position: absolute;
  bottom: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
}

.vote_average {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 30px;
  height: 30px;
  padding: 6px;
}

.redBorder {
  border: 2px solid #e90000;
  border-radius: 100%;
}

.orangeBorder {
  border: 2px solid #e97e00;
  border-radius: 100%;
}

.yellowBorder {
  border: 2px solid #e9d100;
  border-radius: 100%;
}

.greenBorder {
  border: 2px solid #66e900;
  border-radius: 100%;
}

.movie_genres {
  flex-wrap: wrap;
}

.genre {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fafafa;
  color: #585858;
  padding: 1px 5px;
  margin-right: 8px;
  margin-top: 7px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .movie_img {
    display: flex !important;
    flex: 0 0 60px;
    height: 90px;
    position: absolute;
    top: 6px;
    left: 30px;
  }
  .item {
    height: 245px;
  }
  .movie_title,
  .movie_date,
  .movie_genres {
    position: relative;
    left: 70px;
    width: calc(100% - 70px);
  }

  .movie_info {
    padding: 6px 10px;
  }

  .movie_title {
    margin: 0;
  }

  .rate_wrapper {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
  }
}
