@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

body {
  background-color: #f7f7f7;
  margin: 0 auto;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 183% !important;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}
